* {
  margin: 0;
  padding: 0;
}

html {
  height: 5000px;
}

#cont {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 2px;
  z-index: 9999;
}

#progress {
  background: #ED5E42;
  width: 0%;
  height: 2px;
}